h2 Security Check and creating of inspection report
fieldset
  section
    button.button.large-button.primary.full-size Open the function Manipulation check and follow the instructions
br
fieldset
  section
    .grid
      .row.cells6
        .cell.colspan4
          h4.ontop
            | Are visible manipulation hints at the tachograph system recognizable (sealing, defects, ect.)?
        .cell.colspan2
          label.input-control.radio
            input(type='radio', name='notify', checked='checked')
            span.check
            span.caption  OK
          label.input-control.radio
            input(type='radio', name='notify')
            span.check
            span.caption  Not OK
  section
    .grid
      .row.cells6
        .cell.colspan4
          h4.ontop Visible control DTCO
        .cell.colspan2
          label.input-control.radio
            input(type='radio', name='notify2', checked='checked')
            span.check
            span.caption  OK
          label.input-control.radio
            input(type='radio', name='notify2')
            span.check
            span.caption  Not OK
  section
    .grid
      .row.cells6
        .cell.colspan4
          h4.ontop Visible control KITAS
        .cell.colspan2
          label.input-control.radio
            input(type='radio', name='notify3', checked='checked')
            span.check
            span.caption  OK
          label.input-control.radio
            input(type='radio', name='notify3')
            span.check
            span.caption  Not OK
  section
    .grid
      .row.cells6
        .cell.colspan4
          h4.ontop Maintainance DTCO
        .cell.colspan2
          label.input-control.radio
            input(type='radio', name='notify4', checked='checked')
            span.check
            span.caption  OK
          label.input-control.radio
            input(type='radio', name='notify4')
            span.check
            span.caption  Not OK
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next