h2 DTCO Parameterisation, Adaption and Tolerance Check
fieldset
  section
    button.button.large-button.primary.full-size Check, confirm or update legal parameters of VU and Check date and UTC time
//- fieldset
//-   .notify.on Hint!!!!
fieldset
  section
    button.button.large-button.primary.full-size Measure ‘W’ and ‘L’
fieldset
  section
    button.button.large-button.primary.full-size TCO Check
fieldset
  //- .notify.on Hint!!!!
  section
    button.button.large-button.primary.full-size Test Track
fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Eject the Workshopcard and generate Technical data
fieldset
  section
    button.button.large-button.primary.full-size Control Error Memory
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
