h2 Testing of Device’s Functions
fieldset
  a.popup-modal(href='#test-modal') Hint!!
  #test-modal.mfp-hide.white-popup-block
      h1 Hint
      p
        | Voluptatibus rerum distinctio quam, magnam veniam necessitatibus reiciendis sunt qui, possimus provident autem dolore, obcaecati numquam similique sed cumque.
      p
        a.popup-modal-dismiss(href='#') Dismiss
  br
  br
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox1')
      span.check.place-right
      span.caption  Switch on Ignition
  
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Select printout 'Technical Data'
    label.input-control.checkbox
      input(type='checkbox', name='checkbox3')
      span.check.place-right
      span.caption  Generate Technical Data Printout
    label.input-control.checkbox
      input(type='checkbox', name='checkbox4')
      span.check.place-right
      span.caption  Check the functions of the TCO control buttons.
    label.input-control.checkbox
      input(type='checkbox', name='checkbox5')
      span.check.place-right
      span.caption  Check the function of the card slot
    label.input-control.checkbox
      input(type='checkbox', name='checkbox4')
      span.check.place-right
      span.caption  Clean the Card slot
    label.input-control.checkbox
      input(type='checkbox', name='checkbox5')
      span.check.place-right
      span.caption  Insert the Workshopcard in to the device and enter the PIN
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
