h2 Measurement type
br

fieldset
  section
    .grid
      .row.cells2
          .cell
            button.button.large-button.primary.full-size Street
          .cell
            button.button.large-button.primary.full-size Roller bench
        


        
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
        .cell
        .cell
          button.button.large-button.primary.full-size Next
