h2 DTCO Parameterisation, Adaption and Tolerance Check

fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      h4.ontop  Perform a speed test to check VU speed accuracy
  section
    button.button.large-button.primary.full-size Perform a test drive or speed-for-speed check
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox1')
      span.check.place-right
      span.caption  Remove Workshop Card
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Produce Technical data printout
  p
    | Identify on rear of printout as ‘Printout No.3’ (or if KITAS Direct used for checking sensor serial no, ‘Printout No.2’)

    
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
