h2 Produce Tachograph Record Sheet and Calibration Plaque
fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Insert Workshop Card into WorkshopTab Card Reader
  section
    button.button.large-button.primary.full-size Produce Tachograph Record Sheet and Calibration Plaque
  br
fieldset
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Check data has been recorded correctly on GV212 and Technical data printout
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Backup data
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Attach Calibration Plaque to vehicle door pillar
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
