h2 Sealing

fieldset
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Check Tachograph casing seals
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Seal sensor to gearbox
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption
        | Seal tachograph rear sealing cover (if applicable for speed limiter legislation)
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Seal Calibration Plaque
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
          button.button.large-button.primary.full-size Print
        .cell
          button.button.large-button.primary.full-size Complete
