h2 DTCO Parameterisation, Adaption and Tolerance Check

fieldset
  header
    h3 Calibrate the VU – Measuring the ‘W’ and ‘L'
  section
    button.button.large-button.primary.full-size Measure ‘W’ and ‘L’
  section
    button.button.large-button.primary.full-size Check, confirm or update legal parameters of VU and Check date and UTC time
  section
    button.button.large-button.primary.full-size Perform a distance test to check the VU odometer
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
