h2 Printout & Visual Inspection

fieldset
    header
        h3 Visual inspection - Seals
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop Number of seals installed
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop S/N front
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
            .row.cells12
                .cell.colspan5
                    h4.titop S/N template
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop S/N battery
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
            .row.cells12
                .cell.colspan5
                    h4.titop S/N external dtco 2.2
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Next








