h2 Seals and tyres


fieldset
    header
        h3 Visual check DTCO components
    section
        h4
            strong Check if all the components are right
            br
            br
            label.input-control.checkbox
                input(type="checkbox", name="checkbox6")
                span.check.place-right
                span.caption  Download interface
            hr
            label.input-control.checkbox
                input(type="checkbox", name="checkbox7")
                span.check.place-right
                span.caption  Menu buttons
            hr
            label.input-control.checkbox
                input(type="checkbox", name="checkbox8")
                span.check.place-right
                span.caption  LED and alarm (Actia)
            hr
            label.input-control.checkbox
                input(type="checkbox", name="checkbox9")
                span.check.place-right
                span.caption  Display
            hr
            label.input-control.checkbox
                input(type="checkbox", name="checkbox10")
                span.check.place-right
                span.caption  Printer
    br
    section
        .grid
            .row.cells6
                .cell.colspan4
                    h4 Battery changed?
                .cell.colspan2
                    label.input-control.radio
                        input(type="radio", name="radio2", checked)
                        span.check
                        span.caption  Yes
                    label.input-control.radio
                        input(type="radio", name="radio2")
                        span.check
                        span.caption  No
fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Next

