h2 Error Checks

fieldset
    section
        button.button.large-button.primary.full-size Calibration > Calibration W/L > Set Correction factor
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Distance Checked
    section
        button.button.large-button.primary.full-size Parametrization TCO > Parameters TCO > Legal Parameters
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Odometer set
        hr
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Turn off contact and after 2 minutes...
    section
        button.button.large-button.primary.full-size TCO Info > Error memory > Delete errors
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Withdraw card slot 1
        hr
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Print 24H activity printout
        hr
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Print Technical printout

fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Next