h2 Last steps

fieldset
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Insert workshop card in slot 1
    section
        button.button.large-button.primary.full-size Calibration > Manipulations > Quick Download
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Download mass memory DTCO file (technical data, overview)
br
hr
br

fieldset
    header
        .notify.on Withdraw the workshop card from DTCO and insert it into tablet
    section
        button.button.large-button.primary.full-size Calibration > Technical > Report
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Connect the tablet to the PC to create the report and to print thinstallation report
    br
    hr
    br
    section
        button.button.large-button.primary.full-size Send IT Files to Extranet PC

fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Finish