h2 Printout & Visual Inspection


fieldset
    header
        h3 Visual Inspection – Collect vehicle datas

    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop First vehicle registration date
                .cell.colspan7
                    .input-control.text.full-size(data-role='datepicker')
                          input(type='text')
                          button.button
                            span.mif-calendar
             .row.cells12
                .cell.colspan5
                    h4.titop Vehicle manufacture
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop Model
                .cell.colspan7
                    .input-control.text.full-size
                                input(type="text")
             .row.cells12
                .cell.colspan5
                    h4.titop MMA
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop Type
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
            .row.cells12
                .cell.colspan5
                    h4.titop Max. speed
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")

fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Next








