h2 Parametrization

fieldset
    section
        button.button.large-button.primary.full-size Calibration > Calibration W/L > Set Correction factor
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Clean card slot 2

fieldset
    header
        .notify.on  With the vehicle over 20 km/h do the measurements of L and W
    section
        button.button.large-button.primary.full-size Calibration > Calibration W/L > Measurement
    section
        button.button.large-button.primary.full-size Parametrization TCO > Legal parameters
    section
        label.input-control.checkbox
            input(type="checkbox", name="checkbox2")
            span.check.place-right
            span.caption  Set legal parameters

fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Next