h2 Seals and tyres

fieldset
    header
        h3 Visual tyre inspection
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop Tyre brand
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
            .row.cells12
                .cell.colspan5
                    h4.titop Size
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop Sculpture
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
            .row.cells12
                .cell.colspan5
                    h4.titop Depth
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop Lef Pressure
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
            .row.cells12
                .cell.colspan5
                    h4.titop Right Pressure
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")
fieldset.onbottom
    section
        .grid
            .row.cells3
                .cell
                    button.button.large-button.primary.full-size Prev
                .cell
                .cell
                    button.button.large-button.primary.full-size Next

