h2 Printout & Visual Inspection
fieldset
  header
    h3 Seals installed
  section
    .grid.custom
      .row.cells12
        .cell.colspan5
          h4.titop Number of installed seals
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N front
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N template
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N battery
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N external DTCO 2.2
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N total kms
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N access interior
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N potentiometer
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N access programation
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N gearbox
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N codification tap
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N back tap
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
      .row.cells12
        .cell.colspan5
          h4.titop S/N instalation template
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
