h2 Error Checks

fieldset
  header
    h3 Distance test
  section
    button.button.large-button.primary.full-size Calibration > Check TCO > Check distance
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Distance Checked
  section
    button.button.large-button.primary.full-size Calibration > Trial run
  section
    .grid
      .row.cells12
        .cell.colspan5
          h4.titop New odometer value
        .cell.colspan7
          .input-control.text.full-size
            input(type='text')
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
