h2 Last steps

fieldset
  section
    button.button.large-button.primary.full-size Save IT File
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption
        | Connect the tablet to the PC to create the report and to print the installation report
  section
    button.button.large-button.primary.full-size Send Files to Extranet PC
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Finish